:root {
  font-family: Inter, system-ui, -apple-system, Arial, Noto Sans;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #1d1d1d;
  padding: 0;
  margin: 0;
  border-radius: 0.25rem;
}

.step {
  border-radius: 0.25rem;
  background-color: #ffffff;
  margin-top: 0.75rem;
}

.statusbarh1 {
  color: #ffffff
}

.statusbarp {
  color: #e8e8e8
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #0ecc5f;
}

button:active {
  border-color: #0ecc5f;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}